

 :root {
    --primary-color:#FFA500; /* Light blue */
    --secondary-color:#630320; /* Dim gray */
    --acent:#000000;
    --acent1:#FFFFFF;
    --font-size: 16px; /* Base font size */
}

*{
     font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


  body{
    margin: 0;
    padding: 0;
    height: 100vh;
  }


  .container
  {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--primary-color);
  }

.container1
{
  
  height: 500px;
}

.container2
{
  background-color: var(--secondary-color);
  height: 100%;
  border-radius: 200px 50px 50px  200px;
}

.main-container
{
 
  height: 100%;

}

.container3 h1 {
  font-weight: bolder;
  margin-left: 10%;
}

.container3 p{
  margin-top: 30%;
  font-size: small;
  margin-left: 10%;
  text-wrap: wrap;
}

.container3 h2 
{
  background-color: var(--acent1);
  width: 50%;
  text-align: center;
  padding: 2%;
  border-radius: 30px;
  margin-left: 10%;
  font-weight: bold;
  box-shadow: 1px 1px 9px 1px var(--acent);
  margin-top: 50px;
}
.myshilks p
{
  margin-left: 10%;
  margin-top: 20%;
  font-weight: bold;
  font-size: larger;
  background-color: var(--acent);
  color: var(--acent1);
  width: 30%;
  padding: 2%;
  border-radius: 30px;
  text-align: center;
  text-wrap: wrap;
}

.myshilks ul
{
  list-style-type: none;
  margin-left:2%;
  font-weight: 300;

}

ul li::before
{
  content: "*";
  color: var(--acent1);
  padding: 9px;
  font-size: large;
  font-weight: 1000;
}


.contact h2
{
  box-shadow: 1px 1px 1px 1px;
}

.contact p{

  margin-top: 0;
  font-size: 100%;
}


.firstcolor
{
  margin-top: 30%;
  width: 120px;
  height: 120px;
  background-color: var(--acent1);
  border-radius: 50px 50% 50% 10px;
}

.secondcolor 
{
  width: 120px;
  height: 120px;
  background-color: var(--secondary-color);
  border-radius: 50px 50% 50% 50px;
  top: -20px;
  position: relative;
}



.img1 img{
  width: 100%;
  margin-top: 150px;
  border-radius: 50%;
  /* margin-right: 40%; */
  position: relative;
  right: 10%;
  border: 7px solid var(--primary-color);
}

.img2 img
{
  width: 100%;
  margin-top: 40px;
  height: 200px;
  border-radius: 50%;
  /* margin-right: 40%; */
  position: relative;
  right: 40%;
  border: 7px solid var(--secondary-color);
}

.img3 img 
{
  width: 100%;
 
  margin-top: 40px;
  border-radius: 50%;
  /* margin-right: 40%; */
  position: relative;
  right: 20%;
  border: 7px solid var(--primary-color);

}



/* body
{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
} */
